
@import 'font-awesome/less/font-awesome.less';


@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

#branding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  padding-top: 25%;
  text-align: center;
  background-color: #16496F;

  img {
    display: block;
    margin: 0 auto;
  }
}

// injector
@import 'main/main.less';
// endinjector


